@import "variables.scss";

.show-page-container {
    // border: 10px solid red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65vh auto auto;
    grid-template-areas: 
    "header"
    "screenshots"
    "details";
    background: $black;
}

// GAME HEADER STYLING

.show-game-header-container {
    grid-area: header;
    // border: 2px solid black;
    margin: 1% 7%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% auto;
    grid-template-areas: 
    ". ."
    "card .";
}

.show-game-header-details {
    grid-area: card;
    align-self: center;
    height: auto;
    width: 27vw;
    margin-left: 2vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .8fr 1fr;
    grid-template-areas: 
    "header header"
    "genres like";

    border-radius: 10px;
    padding: 3%;
    background: $black;
    color: white;
    font-family: $primaryFont;
    box-shadow: 0px 0px 5px white;
}

.show-game-header-details .show-game-header-text {
    grid-area: header;
    font-size: 2vw;
    letter-spacing: 2px;
    align-self: center;
    padding: 1%;
}

.show-game-header-details button {
    grid-area: like;
    align-self: center;
    justify-self: center;
    font-family: $primaryFont;
    letter-spacing: 2px;
    font-size: 1.2vw;
}

.show-game-header-details div {
    grid-area: genres;
}
//END OF SHOW GAME HEADER STYLING

//SCREENSHOT STYLING
.show-page-screenshots {
    grid-area: screenshots;
    
    border: 5px solid white;
    margin-top: 2vh;
    background: white;

    display: grid;
    grid-template-rows: 3vw auto;
}

.show-page-screenshots h1 {
    justify-self: center;
    align-self: center;
    font-family: $primaryFont;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vw;
    color: $black;
    letter-spacing: 2px;
}

.screenshots-container {
    display: grid;
    grid-column-gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

//GAME DETAILS CONTAINER
.show-game-details-container {
    grid-area: details;
    // border: 3px solid orange;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

// DESCRIPTION STYLING
.show-game-description {
    color: white;
    font-family: $primaryFont;
    margin-left: 3vw;
    margin-right: 3vw;
}

.show-game-description h1 {
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.show-game-description p {
    font-size: 1.5vw;
    text-align: left;
    padding-bottom: 1.5vh;
}

//VIDEO AND STATS STYLING
.show-game-stats-video {
    // border: 3px solid red;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    background: white;
    padding: 1vh 2vw;
}

.show-game-stats-video .video-container {
    align-self: center;
    justify-self: center;

    display: grid;
}

.video-container h1 {
    color: $black;
    font-family: $primaryFont;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.show-game-stats {
    display: grid;
    grid-template-columns: auto auto;
}

.rating-released-container {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: $primaryFont;
    font-weight: bold;
    letter-spacing: 1px;
    color: $black;
}

.rating-released-container div svg {
    font-size: 2.2vw;
    color: $black;
}

.website-and-stores {
    // border: 3px solid blue;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    font-size: 1.5vw;
    font-family: $primaryFont;
    font-weight: bold;
}

.website-and-stores svg {
    color: $black;
    font-size: 2.2vw;
}

.website-and-stores a {
    color: $blue;
    font-family: $primaryFont;
}

.website-and-stores a:hover {
    color: $black;
}

.website-and-stores h1 {
    font-weight: bold;
    letter-spacing: 1px;
    color: $black;
}

//END OF VIDEO AND STATS STYLING

//GAME REVIEW STLING 
.show-game-reviews-container {
    // border: 5px solid orange;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vh;
    display: grid;
    grid-template-rows: 3vw 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "textarea reviews";
    grid-gap: 1vw;
}

.show-game-review-text {
    grid-area: header;
}

.show-game-review-text h1 {
    color: white;
    font-family: $primaryFont;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.show-game-reviews-container .game-review-textarea {
    grid-area: textarea;
    justify-self: center;
    padding-top: 2vw;
}

.game-review-textarea button {
    font-family: $primaryFont;
    letter-spacing: 1px;
}

.game-reviews-container {
    grid-area: reviews;
    padding-top: 2vw;
    
    display: grid;
    grid-row-gap: 1vw;
}

.game-reviews-container div:last-child {
    margin-bottom: 2vw;
}

.game-review-card {
    border: 1px solid white;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    text-align: left;
    padding: 1vw;
    font-family: $primaryFont;
}

.game-review-card a {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2vw;
}

.game-review-card h1 {
    color: white;
    font-size: 1.3vw;
    letter-spacing: 1px;
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.game-review-card p {
    color: white;
    justify-self: end;
    font-size: 1vw;
    margin-top: 1vw;
}

.game-review-card button {
    font-size: .9vw;
    justify-self: end;
    margin-top: 1vw;
}