@import "variables.scss";

.home-page-container {
    height: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% auto;
}

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

//HOME PAGE HEADER
.homepage-header{
    background-image: url("../styles/pictures/gaming-background-1.jpeg" );
    background-position: top left;
    background-color :hsl(0, 0%, 7%);
    display: grid; 
}

.title-container {
    font-family: 'Oswald', sans-serif;
    align-self: center;
}

.title-container h1{
    font-weight: bold;
    color: white;
    font-size: 5vw;
    margin-bottom: 1.2vh;
    letter-spacing: .7vw;
    text-shadow: 8px 9px 16px black;
    text-transform: uppercase;

}

.title-container p {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
    text-shadow: 8px 9px 16px black
}

.title-container button {
    margin-top: 2vh;
    font-family: $primaryFont;
    text-transform: uppercase;
    letter-spacing: .1vw;
    border-color: $black;
    box-shadow: 0px 7px 10px $black;
}

.title-container button:hover{
    border-color: $black;
}

.title-container button a:hover {
    color: white;
}

//button styling 
.home-browse {
    background: $black;
    color: $blue;
    font-weight: bold;
}

//FEATURED GAMES STYLING
.featured-container {
    margin-left: 1vw;
    margin-right: 1vw;
}

.featured-header {
    margin-top: 2vh;
}

.featured-text {
    color: $black;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: $primaryFont;
}

.featured-games {
    margin-top: 2vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 3%;
}


//GAME CARDS
.featured-gamecards-container{
    transition: box-shadow .6s;
}

.featured-gamecards-container:hover {
    // border: 5px solid red;
    box-shadow: 0px 0px 25px $black;
}

.game-cards-name-container {
    padding-bottom: 0.8vh;
}

.home-game-links {
    color: $blue;
    font-weight: bold;
    font-family: $primaryFont;
    font-size: 1vw;
    letter-spacing: .1vw;
    text-transform: uppercase;
}


//FOOTER STYLING 
footer {
    margin-top: 3.5vh;
    color: white;
    background: $black;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.rawg-text {
    color: white;
    font-family: $primaryFont;
    font-size: 1.4vw;
    letter-spacing: .1vw;
}

.rawg-text:hover {
    color: $blue;
}

.copyright-container {
    font-family: $primaryFont;
    text-transform: uppercase;
    letter-spacing: .1vw;
}