@import "variables.scss";

.friend-modal {
    height: 25vh;
    width: 30vw;
    font-family: $primaryFont;
    display: grid;
    justify-items: center;
    color: white;
}

.friend-modal h1 {
    font-size: 2.8vw;
    letter-spacing: .2vw;
    font-weight: bold;
}

.friend-modal button {
    justify-self: end;
    align-self: center;
    font-family: $primaryFont;
    text-transform: uppercase;
    font-weight: bold;
}

.modal-all-friends {
    overflow: auto;
    padding: .5vw 5vh;
    border-radius: .4vw;
    justify-self: start;
    width: 100%;
    height: 9vh;
}

.modal-all-friends p a {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2vw;
}

.modal-all-friends p a:hover {
    color: white;
}

.modal-liked-games {
    justify-self: center;
    align-self: center;
    overflow: auto;
    height: 18vh;
    letter-spacing: .1vw;
    font-size: 1.8vw;
}

.modal-liked-games p a:hover {
    color: white;

}

.games-modal {
    width: 40vw !important;
    height: 30vh !important;
}

