@import "variables.scss";

.buttons {
    background: $black;
    margin-bottom: 0 !important;
    height: 5vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    align-items: center;

    font-family: $primaryFont;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.nav-left {
    grid-area: left;
    justify-self: start;
}

.nav-left a {
    padding-left: 1vw;
    padding-right: 1vw;
}


.right-nav-links {
    grid-area: right;
    justify-self: end;
}

.right-nav-links a {
    padding-left: 1vw;
    padding-right: 1vw;
}