@import "variables.scss";

//SEARCH PAGE STYLING
.search-page {
    display: grid;
    height: 100vh;
    grid-template-rows: 20% auto;
}

.game-search-container {
    // Photo by Ryan Quintal on Unsplash
    background: url("../styles/pictures/showPage/GameSearch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: grid;
    grid-template-rows: 20% auto;
    grid-template-columns: 10% auto 10%;
    grid-template-areas: 
    ". header ."
    ". search .";
    justify-items: center;
    align-items: center;
}

.game-search-text {
    grid-area: header;
    color: white;
}

.game-search-text h1 {
    margin-top: 1vw;
    font-size: 2.7rem;
    font-family: $primaryFont;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 8px 8px 10px $black;
}

//Search Input

.game-search-input {
    grid-area: search;
}

.control-search {
    width: 50vw;
}

#game-search {
    font-family: $primaryFont;
    letter-spacing: 2.5px;
}

#game-search:focus {
    box-shadow: 0 0 10px $blue;
}

//ResultsContainer.js
.results-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 16% auto;
}

//Container for genre and popular options
.results-filter-section {
    // margin-top: 2vh;
    background: $black
}

// .search-filters-container { MAY NOT NEED... GRID CONTAINER FOR POPULAR BUTTONS DIV
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
// }

.genre-container {
    align-self: center;
}

.genre-container h1 {
    color: $blue;
    font-family: $primaryFont;
    font-size: 2rem;
    letter-spacing: 3px;
    padding-bottom: 2%;
}

.popular-options-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
}

.popular-text {
    color: $blue;
    font-family: $primaryFont;
    font-size: 2rem;
    letter-spacing: 3px;
}

//CONTAINER FOR GAME RESULTS SECTION
.results-game-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px 15px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

//Results Game Card
.search-game-card {
    transition: box-shadow .3s;
    text-transform: uppercase;

}

.search-game-card:hover {
    box-shadow: 0px 0px 15px $black;
}

.search-game-text {
    color: $black;
    font-weight: bold;
    letter-spacing: .1vw;
    font-family: $primaryFont;
}

