//COLOR DECLARATIONS
$primaryColor: red;

$black: #151E28;
$blue: rgb(50, 115, 220);
//3273dc
$purple: #7C3FFF;


//FONTS 
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

$primaryFont: 'Oswald', sans-serif;